<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Community Detection</h2>
  </div>
</div>
<section class="no-padding-top no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="statistic-block block">
          <div class="title"><strong>girvan newman</strong></div>
          <div #graphDivGrivanNewman class="graph-chart"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="statistic-block block">
          <div class="title"><strong>modularity</strong></div>
          <div #chartDiv class="modularity-chart"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="statistic-block block">
          <div class="title"><strong>modularity maximization</strong></div>
          <div #graphDivModularityMaximization class="graph-chart"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="statistic-block block">
          <div class="title"><strong>spectral partition</strong></div>
          <div #graphDivSpectrialPartition class="graph-chart"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="statistic-block block">
          <div class="title"><strong>louvain</strong></div>
          <div #graphDivLouvain class="graph-chart"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="statistic-block block">
          <div class="title"><strong>walktrap</strong></div>
          <div #graphDivWalktrap class="graph-chart"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="statistic-block block">
          <div class="title"><strong>lpa</strong></div>
          <div #graphDivLpa class="graph-chart"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__block block no-margin-bottom">
    <div class="container-fluid text-center">
      <p class="no-margin-bottom">Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin" class="external">Bootstrapious</a></p>
    </div>
  </div>
</footer>
